.whole-container {
  display: flex;
  height: 50px;
}

.div1 {
  background-color: lightpink;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div2 {
  background-color: lightblue;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
    background-color: black;
    color: white;
}
