  .request-button {
    background-color: black;
    text-align: center;
    color: white;
    font-weight: solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

    transition: 0.15s;
    color: 0.15s;
  }

  .request-button:hover {
    opacity: 0.8;
  }